{% block extracss %}
  <link rel="stylesheet" type="text/css" href="/static/rbac/css/rbac.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/css/flat-admin.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="/static/assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/css/theme/yellow.css">
  
  <link rel="stylesheet" type="text/css" href="/static/assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/css/flat-admin.css">

{% endblock %}


{% block content %}
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="alert alert-danger" role="alert">
            <form method="post">
                {% csrf_token %}
                <p style="font-size: 13px;"><i class="fa fa-warning" aria-hidden="true"></i> 删除后将不可恢复，请确定是否删除？</p>

                <div style="margin-top: 20px;">
                    <a href="{{ cancel }}" class="btn btn-default btn-sm">取消</a>

                    <input type="submit" class="btn btn-danger btn-sm" value="确 认">
                </div>
            </form>
        </div>
    </div>
    </div>
    
    <script src="/static/stark/js/jquery-3.3.1.min.js"></script>
    <script src="/static/stark/plugins/bootstrap/js/bootstrap.js"></script>

{% endblock %}